name: Build, push, publish CAS

on:
  push:
    branches:
      - main
      - "release-candidate"
      - develop
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to deploy (one of: develop, release-candidate, main)'
        required: false

jobs:
  build_push_publish:
    runs-on: ubuntu-latest
    steps:
    -
      name: Checkout
      uses: actions/checkout@v2
      with:
        ref: ${{ github.event.inputs.branch || github.ref_name }}
    -
      name: Set variables
      id: set-vars
      run: |
        SHA_TAG=$(git rev-parse --short=12 "${{ github.sha }}")
        echo "::set-output name=SHA_TAG::$SHA_TAG"
        if [[ "${{github.base_ref}}" == "main" || "${{github.ref}}" == "refs/heads/main" ]]; then
          echo "::set-output name=ECR_REPOSITORY::ceramic-prod-cas"
          echo "::set-output name=IMAGE_TAG::prod"
          echo "::set-output name=IMAGE_TAG_2::latest"
        elif [[ "${{github.base_ref}}" == "release-candidate" || "${{github.ref}}" == "refs/heads/release-candidate" ]]; then
          echo "::set-output name=ECR_REPOSITORY::ceramic-tnet-cas"
          echo "::set-output name=IMAGE_TAG::tnet"
          echo "::set-output name=IMAGE_TAG_2::release-candidate"
        else
          echo "::set-output name=ECR_REPOSITORY::ceramic-dev-cas"
          echo "::set-output name=IMAGE_TAG::dev"
          echo "::set-output name=IMAGE_TAG_2::develop"
        fi
    -
      name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-2
    -
      name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1
    -
      name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    -
      name: Build, tag, and push images ECR and DockerHub
      id: build-image
      env:
        DOCKERHUB_IMAGE_ID: "ceramicnetwork/ceramic-anchor-service"
        ECR_IMAGE_ID: "${{ steps.login-ecr.outputs.registry }}/${{ steps.set-vars.outputs.ECR_REPOSITORY }}"
        SHA_TAG: ${{ steps.set-vars.outputs.SHA_TAG }}
        FULL_SHA_TAG: ${{ github.sha }}
        IMAGE_TAG: ${{ steps.set-vars.outputs.IMAGE_TAG }}
        IMAGE_TAG_2: ${{ steps.set-vars.outputs.IMAGE_TAG_2 }}
      run: |
        echo "::set-output name=ECR_IMAGE_ID::$ECR_IMAGE_ID"

        ECR_TAGS="-t $ECR_IMAGE_ID:$SHA_TAG -t $ECR_IMAGE_ID:$FULL_SHA_TAG  -t $ECR_IMAGE_ID:$IMAGE_TAG -t $ECR_IMAGE_ID:$IMAGE_TAG_2"

        DOCKERHUB_TAGS="-t $DOCKERHUB_IMAGE_ID:$SHA_TAG -t $DOCKERHUB_IMAGE_ID:$FULL_SHA_TAG -t $DOCKERHUB_IMAGE_ID:$IMAGE_TAG -t $DOCKERHUB_IMAGE_ID:$IMAGE_TAG_2"

        RUNNER_ECR_IMAGE_ID="$ECR_IMAGE_ID-runner"
        RUNNER_ECR_TAGS="-t $RUNNER_ECR_IMAGE_ID:$SHA_TAG -t $RUNNER_ECR_IMAGE_ID:$FULL_SHA_TAG -t $RUNNER_ECR_IMAGE_ID:$IMAGE_TAG -t $RUNNER_ECR_IMAGE_ID:$IMAGE_TAG_2"

        QA_ECR_TAGS=""
        QA_RUNNER_ECR_TAGS=""
        if [[ $IMAGE_TAG == "dev" ]]; then
          QA_ECR_IMAGE_ID="${{ steps.login-ecr.outputs.registry }}/ceramic-qa-cas"
          QA_ECR_TAGS="-t $QA_ECR_IMAGE_ID:qa -t $QA_ECR_IMAGE_ID:$SHA_TAG -t $QA_ECR_IMAGE_ID:$FULL_SHA_TAG -t $QA_ECR_IMAGE_ID:$IMAGE_TAG -t $QA_ECR_IMAGE_ID:$IMAGE_TAG_2"
          QA_RUNNER_ECR_IMAGE_ID="$QA_ECR_IMAGE_ID-runner"
          QA_RUNNER_ECR_TAGS="-t $QA_RUNNER_ECR_IMAGE_ID:qa -t $QA_RUNNER_ECR_IMAGE_ID:$SHA_TAG -t $QA_RUNNER_ECR_IMAGE_ID:$FULL_SHA_TAG -t $QA_RUNNER_ECR_IMAGE_ID:$IMAGE_TAG -t $QA_RUNNER_ECR_IMAGE_ID:$IMAGE_TAG_2"
        fi

        docker build -f Dockerfile -t cas $ECR_TAGS $DOCKERHUB_TAGS $QA_ECR_TAGS .
        docker build -f Dockerfile.runner $RUNNER_ECR_TAGS $QA_RUNNER_ECR_TAGS .
        docker push -a $DOCKERHUB_IMAGE_ID
        docker push -a $ECR_IMAGE_ID
        docker push -a $RUNNER_ECR_IMAGE_ID
        if [[ -n $QA_ECR_IMAGE_ID ]]; then
          docker push -a $QA_ECR_IMAGE_ID
        fi
        if [[ -n $QA_RUNNER_ECR_IMAGE_ID ]]; then
          docker push -a $QA_RUNNER_ECR_IMAGE_ID
        fi
