name: Build, push, publish CAS

on:
  push:
    branches:
      # - main
      # - "release-candidate"
      - develop
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment name (one of: dev, tnet, prod)'
        required: true
        default: 'dev'

jobs:
  build_push_publish:
    runs-on: ubuntu-latest
    steps:
    -
      name: Checkout
      uses: actions/checkout@v2
    -
      name: Set variables
      id: set-vars
      run: |
        SHA_TAG=$(git rev-parse --short=12 "${{ github.sha }}")
        echo "SHA_TAG=$SHA_TAG" >> $GITHUB_ENV
        if [[ "${{github.base_ref}}" == "main" || "${{github.ref}}" == "refs/heads/main" ]]; then
          echo "::set-output name=ECR_REPOSITORY::ceramic-prod-cas"
          echo "::set-output name=IMAGE_TAG::latest"
          echo "::set-output name=IMAGE_TAG_2::prod"
          echo "EVENT_WEBHOOK_URL=${{ secrets.EVENT_WEBHOOK_FIRE }}" >> $GITHUB_ENV
        elif [[ "${{github.base_ref}}" == "release-candidate" || "${{github.ref}}" == "refs/heads/release-candidate" ]]; then
          echo "::set-output name=ECR_REPOSITORY::ceramic-tnet-cas"
          echo "::set-output name=IMAGE_TAG::tnet"
          echo "::set-output name=IMAGE_TAG_2::release-candidate"
          echo "EVENT_WEBHOOK_URL=${{ secrets.EVENT_WEBHOOK_CLAY }}" >> $GITHUB_ENV
        else
          echo "::set-output name=ECR_REPOSITORY::ceramic-dev-cas"
          echo "::set-output name=IMAGE_TAG::dev"
          echo "::set-output name=IMAGE_TAG_2::develop"
          echo "EVENT_WEBHOOK_URL=${{ secrets.EVENT_WEBHOOK_DEV }}" >> $GITHUB_ENV
        fi
    -
      name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-2
    -
      name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1
    -
      name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    -
      name: Build, tag, and push images ECR and DockerHub
      id: build-image
      env:
        DOCKERHUB_IMAGE_ID: "ceramicnetwork/ceramic-anchor-service"
        ECR_IMAGE_ID: "${{ steps.login-ecr.outputs.registry }}/${{ steps.set-vars.outputs.ECR_REPOSITORY }}"
        IMAGE_TAG: ${{ steps.set-vars.outputs.IMAGE_TAG }}
        IMAGE_TAG_2: ${{ steps.set-vars.outputs.IMAGE_TAG_2 }}
      run: |
        if [[ "${{steps.set-vars.outputs.IMAGE_TAG_2}}" != "none" ]]; then
          docker build -f Dockerfile -t cas -t $DOCKERHUB_IMAGE_ID:$SHA_TAG -t $DOCKERHUB_IMAGE_ID:$IMAGE_TAG -t $DOCKERHUB_IMAGE_ID:$IMAGE_TAG_2 .
          docker build -f Dockerfile.runner -t $ECR_IMAGE_ID:$SHA_TAG -t $ECR_IMAGE_ID:$IMAGE_TAG -t $ECR_IMAGE_ID:$IMAGE_TAG_2 .
        else
          docker build -f Dockerfile -t cas -t $DOCKERHUB_IMAGE_ID:$SHA_TAG -t $DOCKERHUB_IMAGE_ID:$IMAGE_TAG .
          docker build -f Dockerfile.runner -t $ECR_IMAGE_ID:$SHA_TAG -t $ECR_IMAGE_ID:$IMAGE_TAG .
        fi
        docker push $DOCKERHUB_IMAGE_ID --all-tags
        docker push $ECR_IMAGE_ID --all-tags
      -
        name: Publish build event
        run: |
          res=$(curl -X POST ${{ env.EVENT_WEBHOOK_URL }} -H "Content-Type: application/json" -d '{ "event_type": "new_cas_image", "client_payload": {"env_tag": "${{ env.IMAGE_TAG }}", "sha_tag": "${{ env.SHA_TAG }}" } }') || exit 1
          echo $res
          if [[ $res != *"Forwarded event"* ]]; then
            exit 1
          fi
