name: build_push_and_restart_cas

on:
  push:
    branches:
      ##MASKED## - main
      ##MASKED## - "release-candidate"
      - develop
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment name (one of: dev, tnet, prod)'
        required: true
        default: 'dev'


jobs:
  build_push:
    name: Build and Push Images
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      
    - name: Set Variables
      id: set-vars
      run: |
        SHA_TAG=$(git rev-parse --short=12 "${{ github.sha }}")
        echo "SHA_TAG=$SHA_TAG" >> $GITHUB_ENV
        if [[ "${{github.base_ref}}" == "main" || "${{github.ref}}" == "refs/heads/main" ]]; then
          echo "::set-output name=ECR_REPOSITORY::ceramic-prod-cas"
          echo "::set-output name=IMAGE_TAG::latest"
          echo "::set-output name=IMAGE_TAG_2::prod"
        elif [[ "${{github.base_ref}}" == "release-candidate" || "${{github.ref}}" == "refs/heads/release-candidate" ]]; then
          echo "::set-output name=ECR_REPOSITORY::ceramic-tnet-cas"
          echo "::set-output name=IMAGE_TAG::tnet"
          echo "::set-output name=IMAGE_TAG_2::release-candidate"
        else
          echo "::set-output name=ECR_REPOSITORY::ceramic-dev-cas"
          echo "::set-output name=IMAGE_TAG::dev"
          echo "::set-output name=IMAGE_TAG_2::develop"
        fi

    - name: Login to DockerHub
      uses: docker/login-action@v1 
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-2

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Build, tag, and push image to Amazon ECR
      id: build-image
      env:
        DOCKERHUB_IMAGE_ID: "ceramicnetwork/ceramic-anchor-service"
        ECR_IMAGE_ID: "${{ steps.login-ecr.outputs.registry }}/${{ steps.set-vars.outputs.ECR_REPOSITORY }}"
        IMAGE_TAG: ${{ steps.set-vars.outputs.IMAGE_TAG }}
        IMAGE_TAG_2: ${{ steps.set-vars.outputs.IMAGE_TAG_2 }}
      run: |
        if [[ "${{steps.set-vars.outputs.IMAGE_TAG_2}}" != "none" ]]; then
          docker build -f Dockerfile -t cas -t $DOCKERHUB_IMAGE_ID:$SHA_TAG -t $DOCKERHUB_IMAGE_ID:$IMAGE_TAG -t $DOCKERHUB_IMAGE_ID:$IMAGE_TAG_2 .
          docker build -f Dockerfile.runner -t $ECR_IMAGE_ID:$SHA_TAG -t $ECR_IMAGE_ID:$IMAGE_TAG -t $ECR_IMAGE_ID:$IMAGE_TAG_2 .
        else
          docker build -f Dockerfile -t cas -t $DOCKERHUB_IMAGE_ID:$SHA_TAG -t $DOCKERHUB_IMAGE_ID:$IMAGE_TAG .
          docker build -f Dockerfile.runner -t $ECR_IMAGE_ID:$SHA_TAG -t $ECR_IMAGE_ID:$IMAGE_TAG .
        fi
        docker push $DOCKERHUB_IMAGE_ID --all-tags
        docker push $ECR_IMAGE_ID --all-tags



  update_service:
    name: restart_cas
    runs-on: ubuntu-latest
    needs: [build_push] 
    strategy:
      matrix:
        include:
          - instance: API
            cluster: "ceramic-${{ github.event.inputs.environment }}-cas"
            service: "ceramic-${{ github.event.inputs.environment }}-cas-api"

    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Set Variables  ## As per workflow_dispatch  environment input above set based on branch 
        id: set-vars
        run: |
          if [[ "${{github.base_ref}}" == "main" || "${{github.ref}}" == "refs/heads/main" ]]; then
            echo "::set-output name=ENVIRON_TAG::prod"
          elif [[ "${{github.base_ref}}" == "release-candidate" || "${{github.ref}}" == "refs/heads/release-candidate" ]]; then
            echo "::set-output name=ENVIRON_TAG::tnet"
          else
            echo "::set-output name=ENVIRON_TAG::dev"
          fi

      - name: Stop running tasks
        env:
          ENV_TAG: ${{ steps.set-vars.outputs.ENVIRON_TAG }}
        run: |
          if [[ "${ENV_TAG}" != "none" ]]; then
            ec=$(aws ecs list-tasks --cluster "ceramic-${ENV_TAG}-cas" --service "ceramic-${ENV_TAG}-cas-api" 2>&1 | grep " error " | wc -l)
            TASK_IDS=$(aws ecs list-tasks --cluster "ceramic-${ENV_TAG}-cas" --service "ceramic-${ENV_TAG}-cas-api" | grep "task/" | sed -E 's/.*task\/(.*\/[a-zA-Z0-9]*)(.*)/\1/' | tr '\n' ' ')
          else
            ec=$(aws ecs list-tasks --cluster "${{ matrix.cluster }}" --service "${{ matrix.service }}" 2>&1 | grep " error " | wc -l)
            TASK_IDS=$(aws ecs list-tasks --cluster "${{ matrix.cluster }}" --service "${{ matrix.service }}" | grep "task/" | sed -E 's/.*task\/(.*\/[a-zA-Z0-9]*)(.*)/\1/' | tr '\n' ' ')
          fi
          echo "Task Ids: ${TASK_IDS}"
          echo "ENV_TAG: ${ENV_TAG}"
          if [[ $ec -ne 0 ]]; then
             echo "ERROR: $ec error(s) occurred,  aborting ....." && exit $ec
          fi
          for t in ${TASK_IDS[@]}; do
            if [[ $t ]]; then
              echo "Stopping task $t"
              if [[ "${ENV_TAG}" != "none" ]]; then
                aws ecs stop-task --cluster "ceramic-${ENV_TAG}-cas" --task $t
              else
                aws ecs stop-task --cluster ${{ matrix.cluster }} --task $t
              fi
            fi
          done
