name: CAS Auth tests

on:
  push:
    paths:
      - 'auth/**'
  workflow_dispatch: # manually triggered

env:
  AWS_ACCOUNT_ID: non
  AWS_ACCESS_KEY_ID: non
  AWS_SECRET_ACCESS_KEY: non
  AWS_REGION: non

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout code
        uses: actions/checkout@v3
      -
        name: Start DynamoDB container
        run: docker run -d --rm -p 8000:8000 amazon/dynamodb-local
      -
        name: Setup pnpm
        run: |
          npm install -g pnpm
          pnpm install
        working-directory: ./auth
      -
        name: Run unit tests
        run: |
          pnpm run test --testPathIgnorePatterns=integration
        working-directory: ./auth
      -
        name: Run integration tests
        run: |
          export TESTING=true
          export REST_API_ID=
          export REST_API_ROOT_RESOURCE_ID=
          export CAS_PERMISSIONED_SECURITY_GROUP_IDS=
          sleep 5

          # Start Serverless Offline
          pnpm run start:testing &
          sleep 20
          pnpm run test -- integration
        working-directory: ./auth
